/* Стили для кнопки открытия формы */
#openFormBtn {
    /* Отступы внутри кнопки */
    padding: 10px 20px;
    /* Размер текста кнопки */
    font-size: 16px;
    /* Указатель мыши в виде руки при наведении */
    cursor: pointer;
}

/* Стили для формы */
.form {
    /* Ширина формы */
    width: 500px;
    /* Расположение элементов по колонке */
    flex-direction: column;
    /* Устанавливаем flex для отображения */
    display: flex;
    /* Центрирование содержимого по вертикали */
    justify-content: center;
}

/* Стили для контейнера с кнопкой отправки */
.abc {
    /* Отображение элементов с помощью flex */
    display: flex;
    /* Центрирование по горизонтали */
    justify-content: center;
}

/* Стили для полей формы */
.field {
    /* Расположение элементов внутри flex-контейнера по горизонтали */
    display: flex;
    /* Распределение пространства между элементами */
    justify-content: space-between;
    /* Ширина поля */
    width: 500px;
    /* Отступы между полями */
    margin: 15px 0;
}

    /* Стили для текстовых полей формы */
    .field input {
        /* Ширина текстовых полей */
        width: 380px;
    }

    /* Стили для выпадающего списка (select) */
    .field select {
        /* Смещение вправо относительно родителя */
        position: relative;
        right: 323px;
    }

    /* Стили для поля ввода даты */
    .field input[type="date"] {
        /* Смещение вправо относительно родителя */
        position: relative;
        /* Ширина поля для даты */
        width: 95px;
        right: 288px;
    }

    /* Стили для текстовой области (textarea) */
    .field textarea {
        /* Ширина текстовой области */
        width: 381px;
        /* Отключение возможности изменения размеров */
        resize: none;
        /* Высота текстовой области */
        height: 75px;
    }

/* Стили для модального окна */
.modal {
    /* По умолчанию модальное окно скрыто */
    display: none;
    /* Фиксированное положение на экране */
    position: fixed;
    /* Индекс z для отображения поверх остальных элементов */
    z-index: 1;
    /* Положение слева и сверху */
    left: 0;
    top: 0;
    /* Полная ширина и высота */
    width: 100%;
    height: 100%;
    /* Полупрозрачный черный фон */
    background-color: rgba(0, 0, 0, 0.5);
    /* Центрирование содержимого по горизонтали */
    justify-content: center;
    /* Центрирование содержимого по вертикали */
    align-items: center;
}

/* Стили для содержимого модального окна */
.modal-content {
    /* Цвет фона модального окна */
    background-color: #fff;
    /* Автоматические отступы по горизонтали для центрирования */
    margin: 15% auto;
    /* Внутренние отступы */
    padding: 20px;
    /* Граница вокруг окна */
    border: 1px solid #888;
    /* Ширина окна */
    width: 500px;
}